* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-size: 16px;
    --main-color: #1a1a1a;
    --main-color-light: #ffffffe8;
    --light-grey: #ededed
}

span {
    display: inline-block;
}

body {
    color: var(--main-color);
    font-family: 'Londrina Solid', cursive;
}

/* BUTTONS */

button {
    font-family: 'Londrina Solid', cursive;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    height: 2.75rem;
    font-size: 1.15rem;
    letter-spacing: 0.5px;
    background: none;
}

.main-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 8px 24px;
    border: 3px solid var(--main-color);
    color: var(--main-color);
}

.main-button:hover,
.main-button:focus {
    background: var(--main-color);
    color: var(--main-color-light);
    font-weight: 300;
}

/* HEADER */

.title {
    font-size: 3rem;
    text-align: center;
    padding: 1.75rem 0;
}

/* MAIN */

.main {
    padding: 0 8vw 80px;
}

/* PLAYERS - RESULT */

.players-info,
.result {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px  8px 16px;
}

.result {
    margin: 0 0 60px;
    background-color: #4cff82a8;
    border-radius: 0.5rem;
}

.result > .main-button {
    border: none;
    background: #0b914c;
    color: white;
    font-weight: 300;
}

.result > .main-button:hover,
.result > .main-button:focus {
    background: #086837;
}

.players > p,
.result > p {
    padding: 2px 0;
    font-size: 1.3rem;
}


/* BOARD */

.board {
    margin: 20px 16px 40px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-color);
}

.board > div {
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 16vw;
}

/* SETTINGS */ 

.settings-container {
    width: 90%;
    max-width: 20rem;
    margin: 16px auto;
    padding: 1.5rem;
    background-color: var(--light-grey);
    border-radius: 8px;
}

.settings-text {
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    text-align: center;
}

.button-container {
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.material-symbols-outlined {
    font-size: 1.5rem;
}

/* HIDDEN */

.hidden {
    display: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {

    .title {
        font-size: 6rem;
        padding: 2rem 0;
    }

    .main {
        padding: 0 0 80px;
        width: 480px;
        margin: 0 auto;
    }

    .players > p,
    .result > p {
        padding: 4px 0;
        font-size: 1.75rem;
    }


    .board {
        margin: 40px 0 60px;
        gap: 10px;
    }
    
    .board > div {
        font-size: 6rem;
    }

    .settings-container {
        margin: 40px auto;
    }
    
}